body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}


.navbar {
    background-color: #f7a800;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}


.about-section {
    padding: 40px 20px;
    background-color: #f5f5f5;
    text-align: center;
}

.about-section h1 {
    font-size: 2.5rem;
    color: #ff5050;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-text {
    max-width: 600px;
    text-align: left;
}

.about-text h2 {
    font-size: 1.5rem;
    color: #ff5050;
    margin-bottom: 10px;
}

.about-text p {
    margin-bottom: 15px;
    color: #555;
}

.about-text ul {
    list-style: disc;
    margin: 10px 20px;
    padding: 0;
    color: #555;
}

.about-text li {
    margin-bottom: 5px;
}


@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .about-text {
        text-align: center;
    }
}
