body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.navbar {
    background-color: #f7a800;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}


.sedes {
    padding: 40px 20px;
    background-color: #f5f5f5;
    text-align: center;
}

.sedes h1 {
    font-size: 2.5rem;
    color: #ff5050;
    margin-bottom: 30px;
}

.sedes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.sede {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.sede img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sede h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.sede p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .sede {
        width: 90%;
    }
}
